{% extends 'base1.html' %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block content %}

    <div class="login-page">
        <div class="form">
          <form class="login-form" method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" id="username" name="username" required/>
            <input type="password" placeholder="password" id="password" name="password" required/>
            <button type="submit">login</button>
            <p class="message" style=" color: red; font-size: 15px;">Not registered? <a href="Signup">Create an account</a></p>
          </form>
        </div>
      </div>
{% endblock %}