{% extends 'base1.html' %}
{% block title %}
<title>SignUp</title>
{% endblock %}
{% block content %}
    <div class="login-page">
        <div class="form">
          <form class="login-form" method="post"  >
            {% csrf_token %}
            <input type="text" placeholder="First Name" id="first_name" name="first_name" required/>
            <input type="text" placeholder="Last Name" id="last_name" name="last_name" required/>
            <input type='email' placeholder="Enter your Email" id="email" name="email" required/>
            <input type="text" placeholder="username" id="username" name="username" required/>
            <input type="password" placeholder="password" id="password" name="password" required/>
            <button type="submit">SignUp</button>
          </form>
        </div>
      </div>
{% endblock %}